/* GENERAL */
body {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 65px 0 80px 0;
}
section .heading {
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    text-transform: uppercase;
}
.divider {
    width: 100px;
    height: 2px;
    background-color: 
    #569dbebd;
    margin: 0 auto 20px;   
}
.divider.white {
    background-color: white;
}
.divider.bleu{
    background-color: #569dbe;
}
ul {
    list-style: none;
}

/* NAVBAR */
.navbar {
    background-color: 
    #569dbe;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.navbar-nav {
    margin: 0 auto;
    text-align: center;
}
.nav-link {
    color: white !important;
    margin: 0 6px;
}
.nav-link.active,
.nav-link:hover {
    background-color: white;
    color:  #569dbebd!important;
}


/* ABOUT */
#about {
    height: 100vh;
    background-color: 
#569dbebd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile-picture {
    text-align: center;
}
#about .heading h1 {

    color: white;
    text-transform: uppercase;
    margin:90px;
}
.button1 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 5px 5px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 120px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover {
    background: white;
    color: 
    #569dbebd;
}


 /* COMPETENCES */
#competence{
    height: 100vh;
}
#competence .heading{
    color: #569dbebd;
}

.competence-img {
    height: 100px;
   
}

 /* PORTFOLIO */


 #portfolio {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
    color: white;
     background-color:#569dbebd;   
 }
 #portfolio h5, p{
    color: #569dbebd;
 }
 #portfolio h5 {   
    font-size: 40px;
 }
 .btn {
  background-color: #0069d9;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}
 #portfolio img{
   height:32em;
 }
 /*CONTACT*/

  #contact{
    
    padding-top: 5px;
    padding-bottom: 5px;

  }
  #contact a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #contact .col {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

/* Scroll to top*/
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: transparent;
    border-radius: 50%;
  }
  .back-to-top:visited{
    color: rgb(90, 81, 81);
  }
  .back-to-top:hover{
    color: #569dbebd;}